:root {
  --color-white: #f7f8fa;
  --color-black: #171321;
  --color-purple: #ff16e4;
  --color-light-purple: #ff16e4c6;
  --color-dark-blue: #0d314b;
  --color-maroon: #4a0d49;
  --color-aqua: #85fbfb;
  --fs-normal: 1rem;
  --lh-normal: 1.5;
  --ff-mono: "Oxygen Mono", monospace;
  --ff-sserif: "Oxygen", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
body,
h1,
h2,
h3,
h4 {
  margin: 0;
}
body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: var(--ff-sserif);
  line-height: var(--lh-normal);
}
h3 {
  font-size: 2rem;
  font-weight: 400;
}
img {
  width: 100%;
}
li {
  list-style-type: none;
}
ul,
li {
  padding: 0;
  margin: 0;
}
.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
.sep {
  background: linear-gradient(
    90deg,
    rgba(255, 22, 228, 1) 0%,
    rgba(0, 255, 45, 1) 100%
  );
  width: 100%;
  height: 2px;
}

.mono-text {
  font-family: var(--ff-mono);
}
.sr-only {
  /* hiding screen reader text */
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  position: absolute;
}

/**
intro section
*/

#intro {
  padding: 4rem 1rem 6rem;
}
.name {
  display: block;
  font-family: var(--ff-sserif);
  font-size: 4rem;
  color: var(--color-aqua);
}
#intro h2 {
  color: var(--color-white);
  font-size: 4rem;
}
.purple-link {
  color: var(--color-purple);
}
.purple-link:hover {
  text-decoration: none;
}

/* contact section */

#contact {
  background-color: var(--color-maroon);
  text-align: center;
  padding: 3rem;
}
#contact h3 {
  background-color: initial;
}
/* #contact h3,
#footer h3 {
  font-size: 2rem;
  font-weight: 400;
} */

.w-400 {
  max-width: 550px;
  font-size: 1.4rem;
  margin: 0 auto;
  padding: 3rem 1rem 4rem;
  text-align: center;
}
.btn {
  background-color: var(--color-purple);
  padding: 0.3rem 0.8rem;
  color: var(--color-white);
  border-radius: 8px;
  font-size: 1rem;
  text-decoration: none;
  font-family: var(--ff-mono);
}
.btn:hover {
  background-color: var(--color-light-purple);
  color: var(--color-white);
}

/* footer */

#footer {
  padding: 3rem;
}
#footer p {
  font-size: 1rem;
}
.footer-icons {
  display: flex;
  gap: 1rem;
  justify-content: center;
  padding: 0;
}

.my-icon {
  font-size: 2.5rem;
  color: var(--color-purple);
}

/* Nav Section */
nav {
  padding: 3rem;
}
.my-nav-icon {
  font-size: 1.2rem;
  color: var(--color-aqua);
}
.my-nav-icon:hover {
  color: var(--color-light-purple);
}
nav ul {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  padding: 0;
}
nav a {
  color: var(--color-white);
  text-decoration: none;
  /* font-size: 80%; */
  font-family: var(--ff-mono);
  display: block;
}

nav a:hover,
nav a h1:hover {
  color: var(--color-purple);
}

nav ul li:first-child {
  flex-basis: 100%;
  text-align: center;
}
.logo-icon {
  font-size: 1.6rem;
}

@media (min-width: 850px) {
  nav ul li:first-child {
    flex-basis: initial;
    margin-right: auto;
  }
}

/*Projects section */
#projects {
  padding: 4rem 1rem;
  background-color: var(--color-dark-blue);
}
#projects h3 {
  font-size: 2.5rem;
  padding-bottom: 2rem;
}
.proj-name {
  color: var(--color-aqua);
  font-size: 1.6rem;
  font-weight: normal;
  margin-top: -1rem;
}
.proj-desc {
  background-color: var(--color-black);
  padding: 1rem;
  border-radius: 10px;
  border-top: 1px solid var(--color-white);
  border-left: 1px solid var(--color-aqua);
}
.mb-sm {
  margin-bottom: 0.1rem;
}
.proj-tech-stack {
  display: flex;
  gap: 1.2rem;
  padding-bottom: 0.8rem;
}
#projects img {
  border-right: 1px solid var(--color-aqua);
  border-bottom: 1px solid var(--color-white);
  border-radius: 10px;
  width: 90%;
}
article a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.space {
  margin-bottom: 4rem;
}
/* About Section in about.html*/
#bio-desc {
  border-right: 1px solid var(--color-aqua);
  border-bottom: 1px solid var(--color-white);
  border-top: none;
  border-left: none;
}
#bio-img {
  border-top: 1px solid var(--color-white);
  border-left: 1px solid var(--color-aqua);
  border-right: none;
  border-bottom: none;
  /* padding: 10px; */
}
.site-link {
  justify-content: left;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}
@media (min-width: 850px) {
  .proj-grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }
  .proj-text-data {
    grid-column: 1 / 7;
    grid-row: 1 / 2;
    z-index: 10;
    opacity: 0.8;
  }
  .proj-img {
    grid-column: 5/11;
    grid-row: 1/2;
    justify-content: flex-end;
  }

  .reverse .proj-text-data {
    grid-column: 5 / 11;
    grid-row: 1 / 2;
  }
  .reverse {
    text-align: right;
  }

  .reverse .proj-img {
    grid-column: 1/7;
    grid-row: 1/2;
    justify-content: flex-start;
  }
  .reverse .proj-tech-stack {
    justify-content: flex-end;
  }
  .reverse .proj-desc {
    border-right: 1px solid var(--color-aqua);
    border-bottom: 1px solid var(--color-white);
    border-top: none;
    border-left: none;
  }
  #projects .reverse img {
    border-top: 1px solid var(--color-white);
    border-left: 1px solid var(--color-aqua);
    border-right: none;
    border-bottom: none;
  }
  .bio-grid {
    display: grid;
    grid-template-columns: 25% 1fr;
  }
}
